body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
}

.light-theme {
    background-color: #ffffff;
    color: #000000;
}

header {
    background: #0a0a0a;
    color: #05e895;
    padding: 20px 0;
    text-align: center;
}

header.light-theme {
    background: #f0f0f0;
    color: #05e895;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #05e895;
    text-decoration: none;
    cursor: pointer;
}

nav .controls {
    display: inline-block;
    margin-left: 20px;
}

nav .controls button {
    background-color: transparent;
    border: none;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#about, #projects, #contact {
    padding: 20px 0;
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.sub-section {
    margin-bottom: 40px;
}

.sub-section-toggle {
    color: #05e895;
    cursor: pointer;
}

.sub-section-toggle .toggle-arrow {
    margin-left: 5px;
}

.sub-section-content {
    display: none;
    padding: 10px 0;
}

.sub-section-content.expanded {
    display: block;
}

.project {
    background: #1e1e1e;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
}

.project h4 {
    color: #05e895;
}

.light-theme .project {
    background: #f0f0f0;
}

.social-logo {
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: filter 0.3s;
}

.light-theme .social-logo {
    filter: invert(1);
}

footer {
    background: #0a0a0a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer.light-theme {
    background: #f0f0f0;
    color: #000;
}
